*,
html {
  box-sizing: border-box;
  line-height: 1.2;
  color: white;
}
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, "Source Sans Pro", sans-serif;
  font-size: 13px;
  overflow: hidden;
}
main {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background: rgba(0, 128, 0, 0.644);
}
input,
button,
a {
  outline: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
}
