.taskbar {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
  padding: 0 12px;
  background-color:rgba(53, 66, 89, 0.977);//#2B3A55// #263159; //#1c315e;
  backdrop-filter: 10px;
  &__left {
    height: 43px;
    .weather {
      width: 150px;
      gap: 5px;
      img {
        margin-left: 7px;
      }
    }
  }

  &__center {
    gap: 3px;
    .w_logo {
      padding: 9px;
      flex-direction: column;
      gap: 3px;
      > img {
        border-radius: 2px;
      }
    }
  }

  &__right {
    height: 50px;
    text-align: center;
    img {
      width: 19px;
    }
    .hidden_icon {
      height: 100%;
      padding: 0 2px;
    }
    .language,
    .wifi,
    .date_time {
      height: 43px;
      padding: 0 6px;
    }
    .language {
      width: 43px;
    }
    .wifi {
      gap: 4px;
    }
    .date_time {
      align-items: flex-end;
      width: 78px;
      flex-direction: column;
    }
  }
}
