.t-icon {
  img {
    width: 25px;
  }
  > span {
    position: absolute;
    bottom: 6px;
    height: 3px;
    width: 8px;
    background-color: gray;
    border-radius: 5px;
  }
}

.taskbar {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 12px;
  background-color: rgba(53, 66, 89, 0.6); //#2B3A55// #263159; //#1c315e;
  backdrop-filter: blur(10px);

  &__left {
    height: 43px;
    .weather {
      width: 150px;
      img {
        margin-left: 7px;
      }
    }
  }

  &__center {
    margin-left: 70px;
    > .w_logo {
      height: 40px;
      width: 39px;
      flex-direction: column;
      > img {
        border-radius: 2px;
      }
    }
    > .search {
      height: 32px;
      padding: 10px 14px;
      border-radius: 30px;
      backdrop-filter: 2px;
      background-color: rgba(128, 128, 128, 0.151);
      > img {
        width: 18px;
        margin-right: 3px;
      }
      > input {
        width: 50px;
        pointer-events: none;
      }
    }
  }

  &__right {
    height: 49px;
    text-align: center;
    img {
      width: 19px;
    }
    .hidden_icon {
      height: 100%;
      padding: 0 2px;
    }
    .language,
    .wifi,
    .date_time {
      height: 43px;
      padding: 0 5px;
    }
    .language {
      width: 43px;
    }
    .date_time {
      align-items: flex-end;
      width: 78px;
      flex-direction: column;
    }
  }
}
