.widget {
  position: absolute;
  height: 794px;
  width: 760px;
  left: -770px;
  bottom: 59px;
  background-color: rgba(255, 255, 255, 0.098);
  backdrop-filter: blur(15px);
  padding: 30px 30px 0 30px;
  border: 1px solid rgba(255, 255, 255, 0.26);
  transition: all 400ms;
  nav {
    padding-bottom: 10px;
    img {
      height: 23px;
    }
    span {
      height: 45px;
      width: 45px;
    }

    .left {
      > .home {
        position: relative;
        background-color: rgba(87, 87, 87, 0.16);
        backdrop-filter: blur(8px);
        &::before {
          position: absolute;
          content: "";
          height: 3px;
          width: 13px;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, -50%);
          background-color: aqua;
          border-radius: 5px;
        }
      }
    }
  }
  .content {
    height: 92.8%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-track:hover {
      background: rgba(255, 255, 255, 0.329);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: white;
      border-radius: 10px;
    }
    .row {
      padding: 0 30px 10px 30px;
      img {
        width: 300px;
        &:hover {
          filter: grayscale(0.3);
        }
      }
    }
    a {
      position: fixed;
      left: 50%;
      bottom: 0;
      padding: 5px 10px;
      transform: translate(-50%, -50%);
      background-color: rgba(68, 68, 255, 0.952);
      font-size: 14px;
      img {
        width: 20px;
      }
    }
  }
}
.add-widget {
  left: 12px;
}

.start {
  position: absolute;
  height: 726px;
  width: 641px;
  bottom: -730px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(49, 49, 49, 0.95);
  backdrop-filter: blur(20px);
  padding: 35px 35px 0 35px;
  cursor: context-menu;
  transition: all 250ms ease-in-out;

  nav {
    margin: 30px 30px 15px 30px;
    font-weight: 100;
    a {
      padding: 4px;
      background: rgba(87, 87, 87, 0.552);
      img {
        width: 15px;
      }
    }
    span {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .content {
    position: relative;
    .row {
      height: 90px;
      width: 95px;
      font-weight: 200;
      img {
        width: 30px;
      }
    }
  }
  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 65px;
    padding: 0 70px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(20, 20, 20, 0.478);
    .left {
      padding: 4px 6px;
      img {
        width: 32px;
      }
    }
    .log{
      padding: 9px 11px;
      img {
        width: 20px;
      }

    }
  }
}
.add-start {
  bottom: 60px;
}

.search-bar {
  position: absolute;
  height: 726px;
  width: 775px;
  bottom: -730px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(41, 41, 41, 0.95);
  backdrop-filter: blur(20px);
  padding: 33px 33px 0 33px;
  transition: all 250ms ease-in-out;
  .content {
    height: 100%;
    cursor: context-menu;
    nav {
      padding: 5px 0;
      img {
        width: 20px;
      }
      > .right {
        width: 60%;
        .reward {
          span {
            height: 40px;
            width: 40px;
          }
        }
      }
    }
    .c-body {
      font-weight: 200;
      .left {
        width: 40%;
        &__1 {
          padding: 4px 0 4px 10px;
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
      .right2 {
        width: 59%;
        > .man2 {
          img {
            width: 100%;
          }
        }
        .Scroll,
        .Scroll2 {
          position: relative;
          overflow-y: hidden;
          overflow-x: scroll;
          width: 100%;
          &::-webkit-scrollbar {
            display: none;
          }
          img {
            width: 31.6%;
          }
          .img2 {
            margin: 5px;
            width: 22%;
          }
          .right_btn {
            margin-right: 33px;
            right: 0;
          }
          button {
            position: fixed;
            padding: 10px 4px;
            background-color: rgba(24, 24, 24, 0.934);
            img {
              width: 8px;
            }
          }
        }
        .games {
          height: 10.5rem;
          background-color: rgba(61, 61, 61, 0.934);
          > .title {
            font-weight: 500;
            margin: 6px;
            font-size: 15px;
          }
        }
      }
    }
  }
}
.add-search-bar {
  bottom: 60px;
}
