.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-f {
  display: flex;
}

.ai-c {
  align-items: center;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}
.b-r {
  border-radius: 5px;
}
.g-p{
  gap: 5px;
}
input{
  outline: none;
  border: none;
  background-color: transparent;
  @include placeholder-color(white)
}

.hover {
  &:hover {
    background-color: rgba(255, 255, 255, 0.079) !important;
    backdrop-filter: 2px;
  }
}

